.cart-section {
  text-align: center;
  border: 1px solid black;
  width: 99.5%;
  overflow: auto;
  height: 76vh;
}

#cart {
  display: none;
}

#icon {
  margin: auto 0px auto 5px;
}

.cart-items {
  width: 100%;
  height: 80px;
  display: flex;
  border-bottom: 1px dashed black;
}

.title {
  font-size: 30px;
  border-bottom: 1px solid black;
  padding: 10px;
  margin: 0px 0px 5px 0px;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.bottom-fixed {
  position: fixed;
  bottom: 0;
  width: 25vw;
  height: 12vh;
  right: 0.1;
  background-color: white;
  border: 1px solid black;
  border-right: none;
  margin-left: -1px;
}

.total-price {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  padding: 5px 0px 5px 0px;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin: 0px;
}

.buy-button {
  background-color: lightskyblue;
  font-size: 22px;
  color: black;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
}

#qtdd {
  margin: auto 25px auto 25px;
}

@media screen and (max-width: 1000px) {
  .names {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .bottom-fixed {
    width: 28vw;
  }
}

@media screen and (max-width: 650px) {
  .bottom-fixed {
    width: 34vw;
  }

  #qtdd {
    margin: auto 10px auto 0px;
  }
}

@media screen and (max-height: 635px) {
  .bottom-fixed {
    height: 15vh;
  }
  .cart-section {
    height: 71vh;
  }
}
@media screen and (min-height: 865px) {
  .bottom-fixed {
    height: 10vh;
  }
  .cart-section {
    height: 82vh;
  }
}

@media screen and (max-width: 400px) {
  .bottom-fixed {
    height: 18vh;
  }
  .cart-section {
    height: 70vh;
  }
  .title {
    display: none;
  }
  #cart {
    display: block;
    font-size: 30px;
    border-bottom: 1px solid black;
    padding: 10px;
    margin: 0px 0px 5px 0px;
  }
  #icon {
    margin: auto 0px auto 0px;
  }
}

/*MODAL CSS*/
#greeting-modal {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* Greeting Modal Container - when open */
#greeting-modal-active {
  visibility: visible;
  opacity: 1;
}

/* Greeting Modal */
#greeting-modal .modal {
  opacity: 0;
  transform: translateY(-1rem);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 0.2s;
}

/* Greeting Modal - when open */
#greeting-modal-active .modal {
  transform: translateY(0);
  opacity: 1;
}

/* Modal Container Styles */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Background Styles */
.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

/* Modal Body Styles */
.modal {
  z-index: 1;
  background-color: white;
  width: 80%;
  max-width: 500px;
  padding: 1rem;
  border-radius: 8px;
}
