.catalog-section {
  text-align: center;
  background-color: #f5f5f5;
  overflow: scroll;
  height: 88vh;
}

.catalog-card {
  flex: 0 1 200px;
  background-color: white;
  box-shadow: inset 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  margin: 10px;
  height: 100%;
}

.add-button {
  margin-bottom: auto;
  height: 40px;
  padding-top: 10px;
  background-color: red;
  color: #f5f5f5;
  cursor: pointer;
}

.add-button:hover {
  background-color: rgb(247, 96, 96);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: center;
}

/*MODAL CSS*/
#greeting-modal {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* Greeting Modal Container - when open */
#greeting-modal-active {
  visibility: visible;
  opacity: 1;
}

/* Greeting Modal */
#greeting-modal .modal {
  opacity: 0;
  transform: translateY(-1rem);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 0.2s;
}

/* Greeting Modal - when open */
#greeting-modal-active .modal {
  transform: translateY(0);
  opacity: 1;
}

/* Modal Container Styles */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Background Styles */
.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

/* Modal Body Styles */
.modal {
  z-index: 1;
  background-color: white;
  width: 80%;
  max-width: 500px;
  padding: 1rem;
  border-radius: 8px;
}
